<roundcube:include file="includes/layout.html" />
<roundcube:include file="includes/menu.html" />


<style>
    #contactlist-content {
        /* Hauteur maximale selon vos besoins */
        overflow-y: auto;
        /* Active le défilement vertical si le contenu dépasse la hauteur maximale */
    }

    .iframe-wrapper {
        height: 100%;
    }

    iframe {
        height: 100%;
        width: 100%;
    }
</style>

<!-- Main container -->
<div class="fr-container--fluid">
    <!-- Section principale contenant la liste des dossiers et le contenu principal -->
    <div class="fr-grid-row">
        <!-- Barre latérale contenant les dossiers -->
        <div class="fr-hidden fr-unhidden-lg">
            <div id="layout-sidebar">
                <nav role="navigation" aria-label="Menu latéral"
                    class="fr-sidemenu fr-sidemenu--sticky-full-height fr-mb-0-5v" data-fr-js-sidemenu-actionee="true">
                    <div class="fr-sidemenu__inner fr-pt-6v fr-background-alt--blue-france fr-p-1w">
                        <ul class="fr-sidemenu__list" data-fr-js-sidemenu-list="true">
                            <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                                <div>
                                    <div><span class="fr-icon-group-fill" aria-hidden="true"></span>
                                        <h3>
                                            <roundcube:label name="addressbook" />
                                        </h3>
                                        <!-- Affichage du nom d'utilisateur -->
                                        <p class="fr-tag fr-fi-arrow-right-line fr-tag--icon-left fr-background-alt--blue-ecume"
                                            style="overflow: hidden; text-overflow: ellipsis; width: 100%;
                                            white-space: nowrap;">
                                            <roundcube:object name="username" />
                                    </div>
                                    <!-- Actions dossier à voir en Modal quand mobile -->
                                    <p><br /></p>
                                    <div class="fr-m-1w">
                                        <!-- Bouton pour les actions sur les dossiers -->
                                        <p>
                                            <button class="fr-btn fr-btn--secondary fr-btn--sm" data-fr-opened="false"
                                                aria-controls="groupoptions-modal">
                                                Options de groupe
                                            </button>
                                        </p>
                                    </div>
                                </div>

                                <div id="folderlist-content" class="scroller">
                                    <roundcube:object name="directorylist" id="directorylist"
                                        class="fr-treelist listing iconized" />
                                    <h6 class="fr-h6">
                                        <roundcube:label name="savedsearches" />
                                    </h6>
                                    <roundcube:object name="savedsearchlist" id="savedsearchlist"
                                        class="fr-treelist listing iconized" />
                                </div>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>


        <!-- Section contenant la liste des contacts et leur aperçu -->
        <div id="contenu" class="fr-col">
            <div>
                <div class="fr-grid-row">
                    <div class="fr-col">
                        <!-- En-tête de la liste des contacts avec les boutons d'action -->
                        <div id="contacts-header"
                            class="fr-container--fluid fr-background-alt--blue-france fr-pb-2w fr-pt-2w fr-pt-lg-0">
                            <span class="fr-btns-group--inline-md">
                                <!-- Boutons pour mobile - actionner la barre latérale-->
                                <span class="fr-hidden-lg">
                                    <button class="fr-btn fr-btn--sm fr-icon-folder-2-fill" data-fr-opened="false"
                                        aria-controls="fr-modal-showfolders">
                                        Vos Dossiers
                                    </button>
                                    <span>
                                        <button class="fr-btn fr-btn--sm fr-icon-cursor-fill" data-fr-opened="false"
                                            aria-controls="fr-modal-listselect">
                                            Sélectionner
                                        </button>
                                    </span>
                                    <span>
                                        <button class="fr-btn fr-btn--sm fr-icon-menu-fill" data-fr-opened="false"
                                            aria-controls="fr-modal-showactions">
                                            Sélectionner
                                        </button>
                                    </span>
                                </span>
                                <!-- Boutons -->
                                <span class="fr-hidden fr-unhidden-lg">
                                    <button class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-cursor-fill"
                                        data-fr-opened="false" aria-controls="fr-modal-listselect">
                                        Sélectionner
                                    </button>
                                </span>
                            </span>

                            <!-- Formulaire de recherche des contacts -->
                            <div>
                                <form class="fr-search-bar" role="search" id="contactsearchform" style="width: 100%;"
                                    onsubmit="return quickContactSearch();">
                                    <input type="search" id="contact-search-input" name="search" class="fr-input"
                                        placeholder="Rechercher dans les contacts"
                                        aria-label="Rechercher dans les contacts" />
                                    <button type="submit" class="fr-btn fr-btn--icon-only fr-icon-search-line"
                                        title="Rechercher">
                                    </button>
                                    <button class="fr-btn fr-btn--tertiary fr-btn--sm fr-icon-arrow-up-s-fill"
                                        id="contact-searchmenu" aria-expanded="false"
                                        aria-controls="advanced-contact-search-options"
                                        onclick="toggleAdvancedContactSearch(); return false;">
                                    </button>
                                </form>
                            </div>

                            <!-- Options de recherche avancée pour les contacts (cachées par défaut) -->
                            <div id="advanced-contact-search-options" style="display: none;"
                                class="fr-container--fluid fr-background-alt--blue-france fr-pb-2w fr-pt-2w fr-pt-lg-0">
                                <h3 id="aria-label-advanced-contact-search" class="fr-h6">
                                    <roundcube:label name="searchmod" />
                                </h3>
                                <ul class="fr-proplist">
                                    <li>
                                        <label for="contact-search-name" class="fr-label">
                                            <input type="checkbox" id="contact-search-name" name="s_mods[]"
                                                value="name" />
                                            <roundcube:label name="name" />
                                        </label>
                                    </li>
                                    <li>
                                        <label for="contact-search-firstname" class="fr-label">
                                            <input type="checkbox" id="contact-search-firstname" name="s_mods[]"
                                                value="firstname" />
                                            <roundcube:label name="firstname" />
                                        </label>
                                    </li>
                                    <li>
                                        <label for="contact-search-surname" class="fr-label">
                                            <input type="checkbox" id="contact-search-surname" name="s_mods[]"
                                                value="surname" />
                                            <roundcube:label name="surname" />
                                        </label>
                                    </li>
                                    <li>
                                        <label for="contact-search-email" class="fr-label">
                                            <input type="checkbox" id="contact-search-email" name="s_mods[]"
                                                value="email" />
                                            <roundcube:label name="email" />
                                        </label>
                                    </li>
                                    <li>
                                        <label for="contact-search-allfields" class="fr-label">
                                            <input type="checkbox" id="contact-search-allfields" name="s_mods[]"
                                                value="*" />
                                            <roundcube:label name="allfields" />
                                        </label>
                                    </li>
                                </ul>
                                <div class="formbuttons">
                                    <button type="button" class="fr-btn fr-btn--primary icon search"
                                        onclick="return rcmail.command('search')">
                                        <roundcube:label name="search" />
                                    </button>
                                </div>
                            </div>

                            <script>
                                function quickContactSearch() {
                                    var query = document.getElementById('contact-search-input').value;

                                    // Appel de la commande Roundcube pour effectuer la recherche
                                    rcmail.command('search', query);

                                    // Empêcher la soumission classique du formulaire
                                    return false;
                                }

                                function toggleAdvancedContactSearch() {
                                    var advancedOptions = document.getElementById('advanced-contact-search-options');
                                    var searchMenu = document.getElementById('contact-searchmenu');
                                    var isExpanded = searchMenu.getAttribute('aria-expanded') === 'true';

                                    // Afficher ou masquer les options de recherche avancée
                                    advancedOptions.style.display = isExpanded ? 'none' : 'block';

                                    // Mettre à jour l'attribut aria-expanded
                                    searchMenu.setAttribute('aria-expanded', !isExpanded);
                                }
                            </script>
                            <div class="scroller">
                                <h2 id="aria-label-contactslist" class="voice">
                                    <roundcube:label name="contacts" />
                                </h2>
                                <roundcube:object name="addresslist" id="contacts-table"
                                    class="listing iconized contactlist" noheader="true" role="listbox"
                                    data-list="contact_list" data-label-ext="listusebutton" data-create-command="add" />
                            </div>
                            <!-- Annonce que la liste est vide le cas échéant-->
                            <!-- <roundcube:object data-label-msg="listempty" style="float: none;"/> -->
                            <roundcube:include file="includes/pagenav.html" />
                        </div>
                    </div>
                    <div class="fr-hidden fr-unhidden-lg fr-col-9">
                        <div class="fr-col-9">
                            <div class="fr-header" role="toolbar" aria-labelledby="aria-label-toolbar">
                                <span class="header-title"></span>
                                <div id="addressbooktoolbar" class="fr-toolbar  fr-p-1w fr-m-1w">
                                    <button type="button"
                                        class="fr-btn fr-btn--primary  fr-btn--sm fr-icon-add-circle-line"
                                        title="<roundcube:label name='newcontact' />" onclick="rcmail.command('add')">
                                        <roundcube:label name="create" />
                                    </button>


                                    <button type="button" class="fr-btn fr-btn--primary  fr-btn--sm fr-icon-delete-line"
                                        title="<roundcube:label name='deletecontact' />"
                                        onclick="rcmail.command('delete')">
                                        <roundcube:label name="delete" />
                                    </button>

                                    <button type="button"
                                        class="fr-btn fr-btn--primary  fr-btn--sm fr-icon-printer-line"
                                        title="<roundcube:label name='printcontact' />"
                                        onclick="rcmail.command('print')" data-hidden="small">
                                        <roundcube:label name="print" />
                                    </button>

                                    <button type="button" class="fr-btn fr-btn--primary  fr-btn--sm fr-icon-search-line"
                                        title="<roundcube:label name='advsearch' />"
                                        onclick="rcmail.command('advanced-search')">
                                        <roundcube:label name="search" />
                                    </button>

                                    <button type="button"
                                        class="fr-btn fr-btn--primary  fr-btn--sm fr-icon-download-line"
                                        title="<roundcube:label name='importcontacts' />"
                                        onclick="rcmail.command('import')">
                                        <roundcube:label name="import" />
                                    </button>


                                    <button class="fr-btn fr-btn--primary  fr-btn--sm fr-icon-upload-line"
                                        data-fr-opened="false" aria-controls="fr-modal-export">
                                        Exporter les contacts
                                    </button>

                                    <button class="fr-btn fr-btn--primary fr-btn--sm fr-icon-more-fill"
                                        onclick="document.getElementById('fr-modal-contact').showModal()">
                                        Plus d'actions sur le contact
                                    </button>
                                </div>
                            </div>
                            <h2 id="aria-label-contact-frame" class="voice">
                                <roundcube:label name="contactproperties" />
                            </h2>
                            <div class="iframe-wrapper">
                                <roundcube:object name="contentframe" id="contact-frame" src="env:blankpage"
                                    title="contactproperties" aria-labelledby="aria-label-contact-frame" onload="setupIframeResize(this)"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modales -->
<dialog aria-labelledby="fr-modal-export-title" id="fr-modal-export" class="fr-modal" role="dialog">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="fr-modal-export"
                            onclick="document.getElementById('fr-modal-export').close()">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-export-title" class="fr-modal__title">
                            <roundcube:label name="arialabelcontactexportoptions" />
                        </h1>
                        <ul style="list-style-type:none;">
                            <li><button type="button" class="fr-btn fr-btn--secondary"
                                    onclick="rcmail.command('export')">Exporter tout</button></li>
                            <li><button type="button" class="fr-btn fr-btn--secondary"
                                    onclick="rcmail.command('export-selected')">Exporter la sélection</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>


<dialog aria-labelledby="fr-modal-groupoptions-title" id="fr-modal-groupoptions" class="fr-modal" role="dialog">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="fr-modal-groupoptions"
                            onclick="document.getElementById('fr-modal-groupoptions').close()">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-groupoptions-title" class="fr-modal__title">
                            <roundcube:label name="arialabelabookgroupoptions" />
                        </h1>
                        <ul style="list-style-type:none;">
                            <li><button type="button" class="fr-btn fr-btn--secondary"
                                    onclick="rcmail.command('group-create')">Ajouter un groupe</button></li>
                            <li><button type="button" class="fr-btn fr-btn--secondary"
                                    onclick="rcmail.command('group-rename')">Renommer le groupe</button></li>
                            <li><button type="button" class="fr-btn fr-btn--secondary"
                                    onclick="rcmail.command('group-delete')">Supprimer le groupe</button></li>
                            <li><button type="button" class="fr-btn fr-btn--secondary"
                                    onclick="rcmail.command('search-create')">Sauvegarder la recherche</button></li>
                            <li><button type="button" class="fr-btn fr-btn--secondary"
                                    onclick="rcmail.command('search-delete')">Supprimer la recherche</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>


<dialog aria-labelledby="fr-modal-listselect-title" id="fr-modal-listselect" class="fr-modal" role="dialog">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="fr-modal-listselect"
                            onclick="document.getElementById('fr-modal-listselect').close()">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-listselect-title" class="fr-modal__title">
                            <roundcube:label name="arialabellistselectmenu" />
                        </h1>
                        <ul style="list-style-type:none;">
                            <li><button type="button" class="fr-btn fr-btn--secondary"
                                    onclick="UI.toggle_list_selection(this, 'contacts-table')">Basculer la
                                    sélection</button></li>
                            <li><button type="button" class="fr-btn fr-btn--secondary"
                                    onclick="rcmail.command('select-all', 'page')">Sélectionner la page</button>
                            </li>
                            <li><button type="button" class="fr-btn fr-btn--secondary"
                                    onclick="rcmail.command('select-all', 'invert')">Inverser la sélection</button>
                            </li>
                            <li><button type="button" class="fr-btn fr-btn--secondary"
                                    onclick="rcmail.command('select-none')">Aucune sélection</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>


<dialog aria-labelledby="fr-modal-dragcontact-title" id="fr-modal-dragcontact" class="fr-modal" role="dialog">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="fr-modal-dragcontact"
                            onclick="document.getElementById('fr-modal-dragcontact').close()">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-dragcontact-title" class="fr-modal__title">
                            <roundcube:label name="arialabeldropactionmenu" />
                        </h1>
                        <ul style="list-style-type:none;">
                            <li><button type="button" class="fr-btn fr-btn--secondary"
                                    onclick="return rcmail.drag_menu_action('move')">Déplacer</button></li>
                            <li><button type="button" class="fr-btn fr-btn--secondary"
                                    onclick="return rcmail.drag_menu_action('copy')">Copier</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>

<!-- MODALES MOBILE -->
<!-- Modale pour afficher les dossier -->

<dialog aria-labelledby="fr-modal-showfolders" id="fr-modal-showfolders" class="fr-modal" role="dialog">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="fr-modal-showfolders">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-showfolders-title" class="fr-modal__title">
                            <span class="fr-icon-folder-2-fill fr-icon--lg"></span>
                            Vos Dossiers de contacts
                        </h1>
                        <div id="folderlist-content" class="scroller">
                            <roundcube:object name="directorylist" id="directorylist"
                                class="fr-treelist listing iconized" />
                            <h6 class="fr-h6">
                                <roundcube:label name="savedsearches" />
                            </h6>
                            <roundcube:object name="savedsearchlist" id="savedsearchlist"
                                class="fr-treelist listing iconized" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>

<!-- Modale pour afficher les dossier -->

<dialog aria-labelledby="fr-modal-showfolders" id="fr-modal-showfolders" class="fr-modal" role="dialog">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="fr-modal-showfolders">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-showfolders-title" class="fr-modal__title">
                            <span class="fr-icon-folder-2-fill fr-icon--lg"></span>
                            Vos Dossiers de contacts
                        </h1>
                        <div id="folderlist-content" class="scroller">
                            <roundcube:object name="directorylist" id="directorylist"
                                class="fr-treelist listing iconized" />
                            <h6 class="fr-h6">
                                <roundcube:label name="savedsearches" />
                            </h6>
                            <roundcube:object name="savedsearchlist" id="savedsearchlist"
                                class="fr-treelist listing iconized" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>

<dialog aria-labelledby="fr-modal-showactions" id="fr-modal-showactions" class="fr-modal" role="dialog">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="fr-modal-showactions">Fermer</button>
                    </div>

                    <div class="fr-modal__content">
                        <ul class="fr-btns-group">
                            <li><button type="button"
                                    class="fr-btn fr-btn--primary fr-btn-icon--left fr-btn--sm fr-icon-add-circle-line"
                                    title="<roundcube:label name='newcontact' />" onclick="rcmail.command('add')">
                                    <roundcube:label name="create" />
                                </button>
                            </li>

                            <button type="button"
                                class="fr-btn fr-btn--primary fr-btn-icon--left fr-btn--sm fr-icon-delete-line"
                                title="<roundcube:label name='deletecontact' />" onclick="rcmail.command('delete')">
                                <roundcube:label name="delete" />
                            </button>

                            <button type="button" class="fr-btn fr-btn--primary  fr-btn--sm fr-icon-printer-line"
                                title="<roundcube:label name='printcontact' />" onclick="rcmail.command('print')"
                                data-hidden="small">
                                <roundcube:label name="print" />
                            </button>

                            <button type="button" class="fr-btn fr-btn--primary  fr-btn--sm fr-icon-search-line"
                                title="<roundcube:label name='advsearch' />"
                                onclick="rcmail.command('advanced-search')">
                                <roundcube:label name="search" />
                            </button>

                            <button type="button" class="fr-btn fr-btn--primary  fr-btn--sm fr-icon-download-line"
                                title="<roundcube:label name='importcontacts' />" onclick="rcmail.command('import')">
                                <roundcube:label name="import" />
                            </button>


                            <button class="fr-btn fr-btn--primary  fr-btn--sm fr-icon-upload-line"
                                data-fr-opened="false" aria-controls="fr-modal-export">
                                Exporter les contacts
                            </button>

                            <button class="fr-btn fr-btn--primary fr-btn--sm fr-icon-more-fill"
                                onclick="document.getElementById('fr-modal-contact').showModal()">
                                Plus d'actions sur le contact
                            </button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</dialog>

<!---->
<roundcube:include file="includes/footer.html" />

<script>
function setupIframeResize(iframe) {
            try {
                resizeIframe(iframe);
                const iframeDoc = iframe.contentWindow.document;
                const observer = new MutationObserver(() => {
                    resizeIframe(iframe);
                });
                observer.observe(iframeDoc.body, {
                    childList: true, 
                    subtree: true    
                });
            } catch (e) {
            }
        }
        function resizeIframe(iframe) {
            iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 'px';
        }
</script>
