<roundcube:include file="includes/layout.html" />
<roundcube:include file="includes/menu.html" />

<h1 class="voice"><roundcube:label name="mail" /></h1>

<style>
    /* Ajout de styles supplémentaires si nécessaire */
    .fr-col-12.fr-col-md-4.hidden {
        display: none;
    }

    .fr-col-12.fr-col-md-8 {
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: width 0.3s ease;
    }

    .fr-col-12.fr-col-md-8.full-width {
        flex: 1;
        width: 100%;
    }

    #messagelist-content {
        flex: 0 0 35%;
        overflow-y: auto;
    }

    #layout-content {
        flex: 1;
        overflow-y: auto;
    }

    .fr-toggle {
        display: inline-flex;
        align-items: center;
        margin-left: 10px;
    }
</style>

<div class="fr-container--fluid">
    <!-- Liste des dossiers -->
     <!---->
    <div class="fr-grid-row fr-grid-row--gutters">
        <div id="layout-sidebar" class="fr-col-12 fr-col-md-4">
            <nav role="navigation" aria-label="Menu latéral"
                class="fr-sidemenu fr-sidemenu--sticky-full-height fr-mb-0-5v" data-fr-js-sidemenu-actionee="true">
                <div class="fr-sidemenu__inner fr-pt-12v">
                    <button aria-controls="sidemenu-286" aria-expanded="false" class="fr-sidemenu__btn"
                        data-fr-js-collapse-button="true">Dossiers</button>
                    <div id="sidemenu-286" class="fr-collapse" data-fr-js-collapse="true">
                        <ul class="fr-sidemenu__list" data-fr-js-sidemenu-list="true">
                            <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                                <div>
                                    <a class="fr-link" href="#back"><span class="fr-icon-arrow-left-line fr-mr-1v"></span>
                                        <roundcube:label name="back" />
                                    </a>
                                    <span class="fr-badge"><roundcube:object name="username" /></span>
                                    <roundcube:button name="folderactions" type="link" title="folderactions" label="actions"
                                        class="fr-btn fr-btn--secondary fr-icon-folder-3-line" innerclass="inner"
                                        data-popup="mailboxoptions-menu" />
                                </div>
                                <h2 id="aria-label-folderlist" class="fr-h6"><roundcube:label name="arialabelfolderlist" /></h2>
                                <div id="folderlist-content" class="scroller">
                                    <roundcube:object name="mailboxlist" id="mailboxlist" class="treelist listing folderlist"
                                        folder_filter="mail" unreadwrap="%s" />
                                </div>
                                <div class="fr-footer__bottom">
                                    <roundcube:if condition="env:quota" />
                                    <div id="quotadisplay" class="fr-notice fr-notice--sm">
                                        <span class="fr-notice__content">
                                            <roundcube:label name="quota" />
                                            <roundcube:object name="quotaDisplay" class="count" display="text" />
                                        </span>
                                    </div>
                                    <roundcube:endif />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Liste des messages et aperçu -->
        <div id="contenu" class="fr-col-12 fr-col-md-8">
            <div>
                <div class="fr-editor" >
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col">
                            <div id="messagelist-header"
                                class="fr-container--fluid fr-background-alt--blue-france fr-pb-2w fr-pt-2w fr-pt-lg-0">
                                <span class="fr-btns-group--inline-md">
                                    <!--<a class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-menu-fill fr-btn--sm"
                                        href="#menu"><span class="inner"><roundcube:label name="menu" /></span></a>
                                    <a class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-folder-3-line fr-btn--sm"
                                        href="#sidebar"><span class="inner"><roundcube:label name="mailboxlist" /></span></a>-->
                                    <a href="#select"
                                        class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-checkbox-circle-line fr-btn--sm"
                                        data-popup="listselect-menu" data-toggle-button="list-toggle-button"
                                        title="<roundcube:label name='select' />"><span class="inner">
                                            <roundcube:label name="select" /></span></a>
                                    <roundcube:if condition="env:threads" />
                                    <a href="#threads"
                                        class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-share-line fr-btn--sm"
                                        data-popup="threadselect-menu" title="<roundcube:label name='threads' />"><span
                                            class="inner"><roundcube:label name="threads" /></span></a>
                                    <roundcube:endif />
                                    <roundcube:object name="listmenulink"
                                        class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-options-line fr-btn--sm" label="options"
                                        innerclass="inner" />
                                    <roundcube:button command="checkmail" type="link"
                                        class="fr-btn fr-btn--secondary fr-icon-refresh-line fr-btn--sm" label="refresh"
                                        title="checkmail" innerclass="inner" />
                                    <a class="fr-btn fr-btn--secondary fr-icon-menu-fill fr-btn--sm" href="#list-menu"><span
                                            class="inner"><roundcube:label name="menu" /></span></a>
                                </span>

                                <!-- Interrupteur pour la barre latérale -->
                                <div class="fr-toggle">
                                    <input type="checkbox" class="fr-toggle__input" aria-describedby="toggle-4633-messages"
                                        id="toggle-4633" onchange="toggleSidebar()">
                                    <label class="fr-toggle__label" for="toggle-4633">Dossiers</label>
                                    <div class="fr-messages-group" id="toggle-4633-messages" aria-live="polite"></div>
                                </div>
                            </div>
                            <roundcube:object name="searchform" id="mailsearchform" wrapper="searchbar menu"
                                label="mailquicksearchbox" buttontitle="findmail" options="searchmenu" ariatag="h2" />
                            <div id="searchmenu" class="hidden searchoptions scroller propform formcontainer"
                                aria-labelledby="aria-label-search-menu" aria-controls="messagelist">
                                <h3 id="aria-label-search-menu" class="fr-h6"><roundcube:label name="searchmod" /></h3>
                                <div class="formcontent">
                                    <ul class="proplist">
                                        <li><label><input type="checkbox" name="s_mods[]" value="subject" class="fr-label" />
                                            <roundcube:label name="subject" /></label></li>
                                        <li><label><input type="checkbox" name="s_mods[]" value="from" class="fr-label" />
                                            <roundcube:label name="from" /></label></li>
                                        <li><label><input type="checkbox" name="s_mods[]" value="to" class="fr-label" />
                                            <roundcube:label name="to" /></label></li>
                                        <li><label><input type="checkbox" name="s_mods[]" value="cc" class="fr-label" />
                                            <roundcube:label name="cc" /></label></li>
                                        <li><label><input type="checkbox" name="s_mods[]" value="bcc" class="fr-label" />
                                            <roundcube:label name="bcc" /></label></li>
                                        <li><label><input type="checkbox" name="s_mods[]" value="body" class="fr-label" />
                                            <roundcube:label name="body" /></label></li>
                                        <li><label><input type="checkbox" name="s_mods[]" value="text" class="fr-label" />
                                            <roundcube:label name="msgtext" /></label></li>
                                    </ul>
                                    <div class="fr-input-group">
                                        <div class="fr-input-group__prepend">
                                            <label for="searchfilter" class="fr-label"><roundcube:label name="type" /></label>
                                        </div>
                                        <roundcube:object name="searchfilter" id="searchfilter" noevent="true"
                                            class="fr-select" />
                                    </div>
                                    <div class="fr-input-group">
                                        <div class="fr-input-group__prepend">
                                            <label for="s_interval" class="fr-label"><roundcube:label name="date" /></label>
                                        </div>
                                        <roundcube:object name="searchinterval" id="s_interval" class="fr-select" />
                                    </div>
                                    <div class="fr-input-group">
                                        <div class="fr-input-group__prepend">
                                            <label for="s_scope" class="fr-label"><roundcube:label name="searchscope" /></label>
                                        </div>
                                        <select name="s_scope" id="s_scope" class="fr-select">
                                            <option value="base"><roundcube:label name="currentfolder" /></option>
                                            <option value="sub"><roundcube:label name="subfolders" /></option>
                                            <option value="all"><roundcube:label name="allfolders" /></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="fr-btns-group">
                                    <button type="button" class="fr-btn fr-btn--primary icon search"
                                        onclick="return rcmail.command('search')"><roundcube:label name="search" /></button>
                                </div>
                            </div>
                            <div id="messagelist-content" class="scroller" tabindex="-1">
                                <h2 id="aria-label-messagelist" class="fr-h6"><roundcube:label name="arialabelmessagelist" />
                                </h2>
                                <roundcube:object name="messages" id="messagelist" class="listing messagelist sortheader fixedheader"
                                    aria-labelledby="aria-label-messagelist" data-list="message_list" data-label-msg="listempty" />
                            </div>
                            <roundcube:include file="includes/pagenav.html" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col">
                <div id="layout-content"></div>
                    <h2 id="aria-label-toolbar" class="fr-h6"><roundcube:label name="arialabeltoolbar" /></h2>
                    <div class="col" role="toolbar" aria-labelledby="aria-label-toolbar">
                        <a class="fr-link" href="#back"><span class="fr-icon-arrow-left-line fr-mr-1v"></span>
                            <roundcube:label name="back" /></a>
                        <span class="header-title"></span>
                        <roundcube:include file="includes/mail-menu.html" />
                    </div>
                    <h2 id="aria-label-mailpreviewframe" class="fr-h6"><roundcube:label name="arialabelmailpreviewframe" />
                    </h2>
                    <div>
                        <roundcube:object name="contentframe" id="messagecontframe"
                            aria-labelledby="aria-label-mailpreviewframe" src="env:blankpage"
                            title="arialabelmailpreviewframe" />
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- Script JavaScript intégré -->
    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById('layout-sidebar');
            var mainContent = document.getElementById('contenu');
            var isChecked = document.getElementById('toggle-4633').checked;

            if (isChecked) {
                sidebar.classList.remove('hidden');
                mainContent.classList.remove('full-width');
            } else {
                sidebar.classList.add('hidden');
                mainContent.classList.add('full-width');
                mainContent.style.width = '100%';
            }
        }
    </script>

<!-- popup menus -->
<div id="dragmessage-menu" class="popupmenu">
    <h3 id="aria-label-dragmessage-menu" class="voice"><roundcube:label name="arialabeldropactionmenu" /></h3>
    <ul class="menu listing" role="menu" aria-labelledby="aria-label-dragmessage-menu">
        <roundcube:button command="move" type="link-menuitem" onclick="return rcmail.drag_menu_action('move')" label="move" class="disabled" classAct="active" />
        <roundcube:button command="copy" type="link-menuitem" onclick="return rcmail.drag_menu_action('copy')" label="copy" class="disabled" classAct="active" />
    </ul>
</div>

<div id="mailboxoptions-menu" class="popupmenu">
    <h3 id="aria-label-mailboxoptions-menu" class="voice"><roundcube:label name="arialabelmailboxmenu" /></h3>
    <ul class="menu listing" role="menu" aria-labelledby="aria-label-mailboxoptions-menu">
        <roundcube:button command="expunge" type="link-menuitem" label="compact" class="expunge disabled" classAct="expunge active" />
        <roundcube:button command="purge" type="link-menuitem" label="empty" class="purge disabled" classAct="purge active" />
        <roundcube:button command="mark-all-read" type="link-menuitem" label="markallread" class="read disabled" classAct="read active" />
        <roundcube:button command="folders" task="settings" type="link-menuitem" label="managefolders" class="folders disabled" classAct="folders active" />
        <roundcube:container name="mailboxoptions" id="mailboxoptionsmenu" />
    </ul>
</div>

<div id="listselect-menu" class="popupmenu">
    <h3 id="aria-label-listselect-menu" class="voice"><roundcube:label name="arialabellistselectmenu" /></h3>
    <ul class="menu listing" role="menu" aria-labelledby="aria-label-listselect-menu">
        <roundcube:button type="link-menuitem" label="selection" class="selection disabled" classAct="selection active" name="list-toggle-button" id="list-toggle-button" onclick="UI.toggle_list_selection(this, 'messagelist')" />
        <roundcube:button command="select-all" type="link-menuitem" label="all" class="select all disabled" classAct="select all active" />
        <roundcube:button command="select-all" type="link-menuitem" prop="page" label="currpage" class="select page disabled" classAct="select page active" />
        <roundcube:button command="select-all" type="link-menuitem" prop="unread" label="unread" class="select unread disabled" classAct="select unread active" />
        <roundcube:button command="select-all" type="link-menuitem" prop="flagged" label="flagged" class="select flagged disabled" classAct="select flagged active" />
        <roundcube:button command="select-all" type="link-menuitem" prop="invert" label="invert" class="select invert disabled" classAct="select invert active" />
        <roundcube:button command="select-none" type="link-menuitem" label="none" class="select none disabled" classAct="select none active" />
    </ul>
</div>

<div id="threadselect-menu" class="popupmenu">
    <h3 id="aria-label-threadselectmenu" class="voice"><roundcube:label name="arialabelthreadselectmenu" /></h3>
    <ul class="menu listing" role="menu" aria-labelledby="aria-label-threadselectmenu">
        <roundcube:button command="expand-unread" type="link-menuitem" label="expand-unread" class="expand unread disabled" classAct="expand unread active" />
        <roundcube:button command="expand-all" type="link-menuitem" label="expand-all" class="expand all disabled" classAct="expand all active" />
        <roundcube:button command="collapse-all" type="link-menuitem" label="collapse-all" class="expand none disabled" classAct="expand none active" />
    </ul>
</div>

<div id="listoptions-menu" class="popupmenu propform" role="dialog" aria-labelledby="aria-label-listoptions">
    <h3 id="aria-label-listoptions" class="voice"><roundcube:label name="arialabelmessagelistoptions" /></h3>
    <roundcube:if condition="!in_array('message_sort_col', (array)config:dont_override)" />
    <div class="form-group row">
        <label for="listoptions-sortcol" class="col-form-label col-sm-4"><roundcube:label name="listsorting" /></label>
        <div class="col-sm-8">
            <select id="listoptions-sortcol" name="sort_col">
                <option value=""><roundcube:label name="nonesort" /></option>
                <option value="arrival"><roundcube:label name="arrival" /></option>
                <option value="date"><roundcube:label name="sentdate" /></option>
                <option value="subject"><roundcube:label name="subject" /></option>
                <option value="fromto"><roundcube:label name="fromto" /></option>
                <option value="from"><roundcube:label name="from" /></option>
                <option value="to"><roundcube:label name="to" /></option>
                <option value="cc"><roundcube:label name="cc" /></option>
                <option value="size"><roundcube:label name="size" /></option>
            </select>
        </div>
    </div>
    <roundcube:endif />
    <roundcube:if condition="!in_array('message_sort_order', (array)config:dont_override)" />
    <div class="form-group row">
        <label for="listoptions-sortord" class="col-form-label col-sm-4"><roundcube:label name="listorder" /></label>
        <div class="col-sm-8">
            <select id="listoptions-sortord" name="sort_ord">
                <option value="ASC"><roundcube:label name="asc" /></option>
                <option value="DESC"><roundcube:label name="desc" /></option>
            </select>
        </div>
    </div>
    <roundcube:endif />
    <roundcube:if condition="env:threads" />
    <div class="form-group row">
        <label for="listoptions-threads" class="col-form-label col-sm-4"><roundcube:label name="lmode" /></label>
        <div class="col-sm-8">
            <select id="listoptions-threads" name="mode">
                <option value="list"><roundcube:label name="list" /></option>
                <option value="threads"><roundcube:label name="threads" /></option>
            </select>
        </div>
    </div>
    <roundcube:endif />
    <roundcube:container name="listoptions" id="listoptionsmenu" />
    <roundcube:add_label name="listoptionstitle" />
</div>
